<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Date</th>
    <th scope="col">Bien</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>
      <a [routerLink]="['/reservations',1]" class=" btn-sm btn-outline-info mr-3">Details</a>
      <a [routerLink]="['/reservations',1,'edit']" class=" btn-sm btn-outline-warning mr-3">Edit</a>
    </td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Larry</td>
    <td>the Bird</td>
    <td>@twitter</td>
  </tr>
  </tbody>
</table>
<router-outlet></router-outlet>
