<div class="container">
  <div class="row">
    <div class="col-md-4 my-5 offset-4">
      <div class="card alert-secondary">
        <form method="post" (ngSubmit)="onSubmit()">
          <div class="card-body text-center">
            <img src="./user.png" width="50%" class="logo" />
            <h3 class="card-title">Se connexion</h3>
            <p class="slogan">pour acceder aux fonctionnalités</p>
            <p class="slogan alert alert-danger">Login ou mot de passe invalide!</p>
            <div class="form-group">
              <input type="text" id="username" name="username" class="form-control" placeholder="Entrer votre email" ngModel>
              <label for="username">Email</label>
            </div>

            <div class="form-group">
              <input type="password" id="password" name="password" class="form-control" placeholder="entrer votre mot de passe">
              <label for="password">Password</label>
            </div>

            <div class="card-foter text-right">
              <button type="submit" class="btn btn-primary btn-sm" style="width: 140px;">Connexion</button>
            </div>

          </div>
        </form>

      </div>

    </div>
  </div>
</div>
